lookup/src/main/app/lookup.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <spring:beans>
        <spring:bean name="myBean" class="lookup.Departments"/>
</spring:beans>

<flow name="lookupFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/lookup" doc:name="HTTP"/>
        <set-variable variableName="deptid" value="2" doc:name="Variable"/>
        <invoke object-ref="myBean" method="getDeptName" methodArguments="#[flowVars.deptid]" doc:name="Invoke"/>
</flow>
    <flow name="lookupFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/look2" doc:name="HTTP"/>
        <set-variable variableName="id" value="2" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	Comapny: lookup("getDetails", {type: flowVars.id})
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="getDetails">
        <parse-template location="departments.csv" doc:name="Parse Template"/>
        <expression-component doc:name="Expression"><![CDATA[if(payload.type.contains('2')){
payload = "MuleSoft";
}]]></expression-component>
    </flow>

</mule>
